/***/
/*==========  5.2 - Dividers  ==========*/

hr {
    border-color: $color-border;
    border-width: 1px;
    max-width: $width-for-section;
    margin: $baseline auto;
}

hr.divider-light-dark {
    max-width: $width-for-section;
    border-color: $color-primary;
    border-width: 3px;
}

hr.divider-light {
    border-color: $color-bg-main;
    max-width: $width-for-section;
    border-width: 3px;
}